{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "> 0.25%, not dead"
      }
    ],
    [
      "minify"
    ]
  ],
  "comments": false,
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}