{
  "parser": "babel-eslint",
  "plugins": [
    "jest"
  ],
  "extends": [
    "airbnb-base",
    "plugin:jest/all"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "rules": {
    "no-plusplus": "off",
    "linebreak-style": ["error", "windows"]
  },
  "ignorePatterns": [
    "lib/*.js",
    "docs/**/*.js"
  ]
}